<div class="header mono">
  <div class="container">
    <div class="logo">
      <span class="icon">&lt;C/&gt;</span>
      <span class="name">AbdulrahmanAdam</span>
    </div>
    <div class="navbar">
      <ul>
        <li>
          <img src="assets/images/home_icon.png" alt="" />
          <a routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li>
          <img src="assets/images/about_icon.png" alt="" />
          <a routerLink="about" routerLinkActive="active">About</a>
        </li>
        <li>
          <img src="assets/images/skills_icon.png" alt="" />
          <a routerLink="skills" routerLinkActive="active">Skills</a>
        </li>
        <li>
          <img src="assets/images/works_icon.png" alt="" />
          <a routerLink="works" routerLinkActive="active">Works</a>
        </li>
        <li>
          <img src="assets/images/contact_icon.png" alt="" />
          <a routerLink="contact" routerLinkActive="active">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>
