.card {
  width: 300px;
  /* height: 350px; */
  background-color: #454c53;
}

img {
  width: 286px;
  height: 180px;
}

.card-body {
  color: white;
}
.card-text {
  height: 75px;
  margin-top: 25px;
}

a {
  margin-right: 10px;
  background-color: #454c53;
  border: 1px solid white;
}
