<div class="container">
  @if(!fail){
  <div class="front-end">
    <app-section-title name="Front End Skills" />
    @if(frontEndSkills){
    <ul>
      @for(skill of frontEndSkills; track $index){
      <li>
        <img [src]="url + skill.image" alt="" />
        <p>{{ skill.name }}</p>
      </li>
      }
    </ul>
    } @else {
    <div class="spinner-grow loading-front text-light" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    }
  </div>
  <div class="front-end">
    <app-section-title name="Back End Skills" />
    @if(backEndSkills){
    <ul>
      @for(skill of backEndSkills; track $index){
      <li>
        <img [src]="url + skill.image" alt="" />
        <p>{{ skill.name }}</p>
      </li>
      }
    </ul>
    } @else {
    <div class="spinner-grow loading-back text-light" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    }
  </div>
  <div class="front-end">
    <app-section-title name="Other Software Skills" />
    @if(otherSkills){
    <ul>
      @for(skill of otherSkills; track $index){
      <li>
        <img [src]="url + skill.image" alt="" />
        <p>{{ skill.name }}</p>
      </li>
      }
    </ul>
    } @else {
    <div class="spinner-grow loading-other text-light" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    }
  </div>
  } @else {
  <div class="fail-message">
    <p>{{ failMessage }}</p>
  </div>
  }
</div>
