<div class="h1 ubuntu">
  <div class="tag">&lt;h1&gt;</div>
  <div class="text second">
    <p>
      Hey!<br />I'm <span class="name">{{ name }}</span
      >,<br />{{ title }}
    </p>
  </div>
  <div class="tag">&lt;/h1&gt;</div>
</div>
<div class="p mono">
  <div class="tag">&lt;p&gt;</div>
  <div class="text">
    <p>
      {{ desc }}
    </p>
  </div>
  <div class="tag">&lt;/p&gt;</div>
</div>
<div class="talk mono">
  <p>Let's Talk!</p>
  <a routerLink="/contact"
    ><img src="assets/images/mail_button.png" alt="mail"
  /></a>
</div>
